<html>
<head>
    <title>

    </title>
    <link rel= "stylesheet" href='./css/styles.css'> 
</head>
    <body>
                <div class="main-content">


        {{>header}}
                <img class="portrait" src='./img/Nepal.jpg'>

<br>
                </div>

       {{!-- <l>{{name}}</l>
       <l>{{age}}</l>
       <l>{{location}}</l>
        --}}
        {{>footer}}
        </body>
        </html>